@import 'tailwindcss';
@import '@shuriken-ui/nuxt';

/* Load legacy typography plugin using @plugin */
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: Inter, sans-serif;
  --font-monospace: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace,;
  --font-alt: Karla, sans-serif;
  --font-heading: var(--font-sans);
}
