@import 'tailwindcss';
@import '@shuriken-ui/tailwind';

@variant dark (&:where(.dark, .dark *));


@theme {
  --font-sans: Inter, sans-serif;
  --font-monospace: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace,;
  --font-alt: Karla, sans-serif;
  --font-heading: var(--font-sans);
}

.dark {
  --color-ring: var(--color-muted-700);
}
